body {
    background: black;
    color:git aliceblue;
}

.navbar{
    background: black;
    /* color: #fca10d; */
    border: solid .25rem #11d3f5;
    border-radius: 1rem;
    margin: 2rem;
    
}

.container {
    background: black;
    max-width: 60%;
    margin: 2rem;

}

.card {
    background: black;
    border: solid .25rem  #11d3f5;;
    border-radius: 1rem;
    margin: 2rem;

}