.card-header {
    display: flex;
    justify-content: center;
    border: .25rem solid #18CAE6;
    background-color: rgba(24, 203, 230, 0.178);
    border-radius: 1rem;
    color: rgba(24, 203, 230);
    margin-top: 2%;
}


#article {
    display: flex;
    flex-direction: column;
    border: .25rem solid #18CAE6;
    background-color: rgba(24, 203, 230, 0.178);
    border-radius: 1rem;
    margin-top: 0.5%;
}

.nav-top {
  border-bottom: .25rem solid  #18CAE6;
  border-radius: 1rem;
  margin-bottom: 2%;


}


body{
    width: 100%;
    background-color: black;
    background-image: url("../images/background.jpeg");
    color:  #18CAE6;
    font-family: 'Share Tech Mono', monospace;
}



.jumbotron{
    /* background-image: url("../images/background.jpeg"); */
    background-color: rgba(0, 255, 255, 0.178);
    text-align: center; 
    font-size: 20rem;
    border: .25rem solid  #18CAE6;
    border-radius: 1rem; 

   
}

.display-4 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 2rem;
  font-weight: 300;
}
.btn{
    color: black;
}

a{
    color: #18CAE6;
    background-color: goldenrod, .5;
    border-radius: 1em;
}
a:hover {
    color: goldenrod;
    text-decoration: none;
  }


  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

  .card, .card-title{
      background-color:black;
      text-align: center;
      font-size: 18px;
      width: 150px;
  }

  .gameInfo {
    border: .25rem solid  #18CAE6;
    border-radius: 1rem;
    padding: 1rem; 
    display: inline-flex;
    background-color:  rgba(24, 203, 230, 0.178);

  }

  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 5px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
}


  .footer {
    display: flex;
    align-items: center;
    text-align: center;
    border-top: .25rem solid  #18CAE6;
    border-radius: 1rem;  
    margin-top: 2%;

    
  }

 

/*#article{

text-emphasis: none; 
text-align: right;
background-color: rgb(22, 22, 22, .6);
width: 50%;

}*/





